.btnAdmn { 
    color: white!important;
    font-size: 20px!important;
    padding: 14px 40px!important;
    margin: 10px!important;
    cursor: pointer!important;
    border: none!important;
    border-radius: 20px!important;
  }
  .btn-noti {
    background-color: #0B6E4F !important;
  }
  .btn-extr {
    background-color: #5A0001 !important;
  }
  .btn-nac {
    background-color: #8B5D33 !important;
  }
  .btn-puert {
    background-color: #5F7470 !important;
  }
  .btn-cont {
    background-color: #8B2635 !important;
  }
  .btn-puert {
    background-color: #5F7470 !important;
  }
  .btn-vuel {
    background-color: #944f9b !important;
  }
  .btn-group {
    position: static !important;
  }
  .btnAdmn:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19) !important;
  }
  .btnAdmn:active {
    transform: translateY(2px) !important;
  }
  
  .cont{
      text-align: center !important;
  }