@font-face {
  font-family: Inter;
  src: url(../font/Inter-Regular.ttf);
}

* {
  font-family: Inter, sans-serif; /* Agregué una fuente de respaldo */
  box-sizing: border-box;
}

body {
  /* Fondo de la página */
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../src/images/unsplash_n-YceUl10I0.png); */
  background-size: cover;
  object-fit: cover;
}

.container {
  margin-top: 50px;
  margin-bottom: 50px;
}

h2 {
  font-size: 24px;
}

p {
  font-size: 16px;
}


input,
select {
  margin-bottom: 20px;
}



img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 20px;
}

.card {
  width: 180%; /* Cambia el ancho de la tarjeta al 90% del contenedor */
  max-width: 600px; /* Cambia el ancho máximo de la tarjeta */
  margin: 0 auto; /* Centra la tarjeta horizontalmente en el contenedor */
}

.card-body {
  width: 100%; /* Ajusta el ancho del cuerpo de la tarjeta al 100% del contenedor */
}